<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - My MVC</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }

        h1 {
            color: #333;
        }

        a {
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Welcome to My MVC Home Page!</h1>
    <p>This is the default view for <b>HomeController.Index</b>.</p>
    <p><a href="/home/info">Go to Info Page</a></p>
</body>
</html>
